<container>
    <div class="row">

        <!--left-->
        <div class="col-sm-4 fluid" id="left">
            <h1>Menu</h1>

            <h2>Hamburger Selection</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <!-- middle-->
        <div class="col-sm-4 fluid" id="center">
            <h1>Add A New Burger</h1>
            <div id="chalk">
                <form class="create-form">

                    <div class="form-group" id="chalk-text">
                        <label for="burger"></label>
                        <input type="text" id="burger" name="name">
                    </div>

                </form>
            </div>
        </div>


        <!--right-->
        <div class="col-sm fluid-4" id="right">
            <h1>Burgers Devoured </h1>


            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>
</container>