li {
  padding: 5px;
  margin: 5px;
  background: #f6dd42;
  width: 80%;
  list-style: none;
  font-family: "Neucha", cursive;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#chalk {
  /* height: 55%;
  width: 65%; */
  margin: auto;
  background-image: url("bod_blank.jpg");
  background-size: cover;
  padding-top: 145px;
  padding-left: 10px;
  display: block;
  width: 350px;
  height: 400px;
  text-align: center;
}

#burger {
  color: white;
  font-family: "Fredericka the Great", cursive;
  background-color: #262626;
  border: none;
  height: 100px;
  width: 200px;
  font-size: 22px;
}
#center {
  padding-top: 3%;
  height: 100vh;
  text-align: center;
  background-image: url("bobs-menu-center.jpg");
  background-size: cover;
}
#left {
  text-align: center;
  background-image: url("bobs-menu.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-left: 11%;
}
#right {
  padding-top: 3%;
  text-align: center;
  background-image: url("bobs-menu-right.jpg");
  background-size: cover;
}
#rightUl {
  opacity: 50%;
}
#leftUl {
  background-color: #f6dd42;
  color: #e52132;
  font-size: 20px;
}
h2 {
  font-family: "Bangers", cursive;
  color: #e52132;
}
h1 {
  font-family: "Bangers", cursive;
  color: #e52132;
}
#orderButton {
  background-color: #f6dd42;
  border: none;
}
